In [53]:
import pandas as pd

#try :
df = pd.read_csv('../data/BDFoodSent-334k.csv')
print(df.iloc[:5, 3:5])

                                                text  isAnonymous
0                              too much small amount        False
1                               very small in amount        False
2  food average but their desert booter halwa and...        False
3                                    fresh and tasty        False
4                      everything i ordered was good        False

In [54]:
print(df.shape)
print(df.columns)

(334119, 19)
Index(['uuid', 'createdAt', 'updatedAt', 'text', 'isAnonymous', 'reviewerName',
       'reviewerId', 'ratings_overall', 'labels', 'ratings', 'type',
       'likeCount', 'name', 'city', 'primary_cuisine', 'cuisines',
       'review_number', 'restaurant_overall_rating', 'vertical_type_ids'],
      dtype='object')

In [55]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334119 entries, 0 to 334118
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   uuid                       334119 non-null  object
 1   createdAt                  334119 non-null  object
 2   updatedAt                  334119 non-null  object
 3   text                       334119 non-null  object
 4   isAnonymous                334119 non-null  bool
 5   reviewerName               334119 non-null  object
 6   reviewerId                 334119 non-null  object
 7   ratings_overall            334119 non-null  int64
 8   labels                     334119 non-null  int64
 9   ratings                    334119 non-null  object
 10  type                       334119 non-null  object
 11  likeCount                  334119 non-null  int64
 12  name                       334119 non-null  object
 13  city                       334119 non-null  object
 14  primary_cuisine            334119 non-null  object
 15  cuisines                   334119 non-null  object
 16  review_number              334119 non-null  int64
 17  restaurant_overall_rating  334119 non-null  float64
 18  vertical_type_ids          334119 non-null  object
dtypes: bool(1), float64(1), int64(4), object(13)
memory usage: 46.2+ MB
None

In [ ]:
print(df.isnull().sum())

In [57]:
df['text'] = df['text'].str.lower()
text_lower = df['text'].str.lower()
print(text_lower.head(5))

0                                too much small amount
1                                 very small in amount
2    food average but their desert booter halwa and...
3                                      fresh and tasty
4                        everything i ordered was good
Name: text, dtype: object

In [58]:
df['text'] = df['text'].str.replace(r'[^a-z\s]', '', regex=True)
text_sentence = df['text'].str.replace(r'[^a-z\s]', '', regex=True)
print(text_sentence.head(10))

0                                too much small amount
1                                 very small in amount
2    food average but their desert booter halwa and...
3                                      fresh and tasty
4                        everything i ordered was good
5    kalo jira vhorta balu vhorta not recommended b...
6    quantity of dal should be little more otherwis...
7    beef was too poor in size quantity aganist pri...
8    chicken was not up to the mark and lotpoti was...
9                     lot of sand in kali jeers bortha
Name: text, dtype: object