In [3]:
import pandas as pd

In [4]:
# Load the dataset
df = pd.read_csv('../data/BDFoodSent-334k.csv')

In [5]:
df.columns

Index(['uuid', 'createdAt', 'updatedAt', 'text', 'isAnonymous', 'reviewerName',
       'reviewerId', 'ratings_overall', 'labels', 'ratings', 'type',
       'likeCount', 'name', 'city', 'primary_cuisine', 'cuisines',
       'review_number', 'restaurant_overall_rating', 'vertical_type_ids'],
      dtype='object')

In [6]:
def describe_columns(dataframe):
    """
    Provides detailed information about each column in the dataframe
    """
    
    for col in dataframe.columns:
        print(f"\n{'='*80}")
        print(f"Column: {col}")
        print(f"{'='*80}")
        print(f"Data Type: {dataframe[col].dtype}")
        print(f"Total Count: {dataframe[col].count()}")
        print(f"Missing Values: {dataframe[col].isna().sum()}")
        print(f"Unique Values: {dataframe[col].nunique()}")
        print(f"Sample Values: {dataframe[col].dropna().unique()[:5]}")
        # Basic statistics for numeric columns
        if dataframe[col].dtype in ['int64', 'float64']:
            print(f"\nNumeric Statistics:")
            print(f"  Min: {dataframe[col].min()}")
            print(f"  Max: {dataframe[col].max()}")
            print(f"  Mean: {dataframe[col].mean():.2f}")
            print(f"  Median: {dataframe[col].median():.2f}")
            print(f"  Std Dev: {dataframe[col][0]}")
        
        print()
    
    print("="*80)

# Call the function
describe_columns(df)

================================================================================
Column: uuid
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 334119
Sample Values: ['68e8f769-a0f0-460c-bfb9-16662fcc1e17'
 '706a1e43-7475-4d7f-8488-cb8ed2ea8991'
 '16cd99a3-7295-432e-b193-1551df62d255'
 '61a9fdf3-ad6b-4d23-9436-1f2f596bbcff'
 'a7835cdf-2c1f-4cf0-b9d5-2777d904d746']


================================================================================
Column: createdAt
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 331097
Sample Values: ['2023-11-02T06:48:08Z' '2023-10-27T07:35:53Z' '2023-10-25T18:09:17Z'
 '2023-10-25T07:48:39Z' '2023-10-15T13:37:20Z']


================================================================================
Column: updatedAt
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 331097
Sample Values: ['2023-11-02T06:48:08Z' '2023-10-27T07:35:53Z' '2023-10-25T18:09:17Z'
 '2023-10-25T07:48:39Z' '2023-10-15T13:37:20Z']


================================================================================
Column: text
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 261624
Sample Values: ['too much small amount' 'very small in amount'
 'food average but their desert booter halwa and pudding is very good'
 'fresh and tasty' 'everything i ordered was good']


================================================================================
Column: isAnonymous
================================================================================
Data Type: bool
Total Count: 334119
Missing Values: 0
Unique Values: 1
Sample Values: [False]


================================================================================
Column: reviewerName
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 28207
Sample Values: ['User 12585' 'User 19454' 'User 6465' 'User 6057' 'User 4359']


================================================================================
Column: reviewerId
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 165139
Sample Values: ['bdaclwhn' 'bdjrt0zq' 'b6hrp8of' 'bddrkjrd' 'bd6zr7ad']


================================================================================
Column: ratings_overall
================================================================================
Data Type: int64
Total Count: 334119
Missing Values: 0
Unique Values: 5
Sample Values: [2 3 5 4 1]

Numeric Statistics:
  Min: 1
  Max: 5
  Mean: 2.82
  Median: 3.00
  Std Dev: 2


================================================================================
Column: labels
================================================================================
Data Type: int64
Total Count: 334119
Missing Values: 0
Unique Values: 3
Sample Values: [1 2 3]

Numeric Statistics:
  Min: 1
  Max: 3
  Mean: 1.92
  Median: 2.00
  Std Dev: 1


================================================================================
Column: ratings
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 30
Sample Values: ["[{'topic': 'overall', 'score': 2}, {'topic': 'restaurant_food', 'score': 2}]"
 "[{'topic': 'overall', 'score': 3}, {'topic': 'restaurant_food', 'score': 3}]"
 "[{'topic': 'overall', 'score': 5}, {'topic': 'restaurant_food', 'score': 5}]"
 "[{'topic': 'overall', 'score': 4}, {'topic': 'restaurant_food', 'score': 4}]"
 "[{'topic': 'overall', 'score': 1}, {'topic': 'restaurant_food', 'score': 1}]"]


================================================================================
Column: type
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 1
Sample Values: ['user']


================================================================================
Column: likeCount
================================================================================
Data Type: int64
Total Count: 334119
Missing Values: 0
Unique Values: 24
Sample Values: [0 1 2 3 5]

Numeric Statistics:
  Min: -2
  Max: 51
  Mean: 0.24
  Median: 0.00
  Std Dev: 0


================================================================================
Column: name
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 5567
Sample Values: ['Restaurant 2914' 'Restaurant 4969' 'Restaurant 2247' 'Restaurant 5371'
 'Restaurant 5266']


================================================================================
Column: city
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 7
Sample Values: ['Dhaka' 'Chittagong' 'Savar' 'Sylhet' 'Narayanganj']


================================================================================
Column: primary_cuisine
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 43
Sample Values: ['Curry' 'Indian' 'Pizza' 'Dessert' 'Turkish']


================================================================================
Column: cuisines
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 1938
Sample Values: ["['Curry', 'Rice Dishes', 'Bangladeshi', 'Asian']"
 "['Indian', 'Biryani', 'Asian']" "['Pizza', 'Burgers', 'Fast Food']"
 "['Dessert']" "['Turkish', 'Kebab', 'Middle Eastern', 'Meat']"]


================================================================================
Column: review_number
================================================================================
Data Type: int64
Total Count: 334119
Missing Values: 0
Unique Values: 1716
Sample Values: [146 789  87  60  62]

Numeric Statistics:
  Min: 0
  Max: 32993
  Mean: 4014.91
  Median: 1584.00
  Std Dev: 146


================================================================================
Column: restaurant_overall_rating
================================================================================
Data Type: float64
Total Count: 334119
Missing Values: 0
Unique Values: 42
Sample Values: [3.7 3.3 4.1 4.2 2.2]

Numeric Statistics:
  Min: 0.0
  Max: 5.0
  Mean: 3.84
  Median: 3.90
  Std Dev: 3.7


================================================================================
Column: vertical_type_ids
================================================================================
Data Type: object
Total Count: 334119
Missing Values: 0
Unique Values: 10
Sample Values: ["['restaurants', 'home_based_kitchen']" "['restaurants']"
 "['street_food']" "['home_based_kitchen']"
 "['restaurants', 'street_food']"]

================================================================================

In [2]:
train_df.text[2]

NameError: name 'train_df' is not defined